
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    border: 1px;
    /*background-color: #e8e8e8;*/
}

div {
    display: block;
}

h1, h4, p {
    font-family: "raleway", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "roboto", sans-serif;
}

h2 {
    color: #747704;
}

section {
    margin-bottom: 100px;
}

h3, a, p, label, input, button, textarea{
    color: #013939;
}

footer {
    border-top: 1px solid #013939;
}

footer ul li, .nav {
    list-style-type: none;
}

input, textarea {
    width: 50%;
}

a:hover {
    color: #660066;
    border-radius: 25%;
}

.header-row {
    color: #7b233e;
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.nav {
    padding-top: 0;
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;

}

.nav li {
    display: inline-block;
    padding: 10px 5px 0px 5px;
    /* border: 1px solid #013939; */
    text-align: center;
    font-family: "roboto", sans-serif;
    border-bottom: 1px solid #013939;
}

.intro {
    background: url('/img/DSC_4213.jpg') no-repeat;
    background-size: 100%;
    display: block;
    min-height: 500px;

}

.quote {
    padding-top: 20px;  
    color: white;
    font-size: 1.75em;
}

.round-image {
    border-radius: 45%;
}



@media screen and (max-width: 560px) {
    h1 {
        font-size: 1em;
    }
    h2, h3, h4, p {
        font-size: .9em;
    }
    li, .quote {
        font-size: .75em;
    }
    h1, h2, h3, h4, li {
        text-transform: lowercase;
    }
    .intro {
            min-height: 250px;
    }
    .title {
        margin-bottom: 5px;
    }

}

@media screen and (max-width: 480px) {
    .intro {
            min-height: 150px;
    }
    section {
    margin-bottom: 30px;
    }
}
